body {
  background-image: url(background.jpg);
  background-size: 100%;
}
html {
  font-family: 'Roboto', sans-serif;
  line-height: 1em;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row a {
  text-decoration: none;
}

.bgh a :hover {
  background-color: #d3c49d;
}

.row a p {
  color: black;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #5f5f64;
  box-shadow: 6px 6px 12px #1a1a1a;
}

.shoe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shoestock {
  display: flex;
  flex-direction: column;
  background-color: #5f5f64;
  margin: 20px;
  width: 400px;
  height: 590px;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 12px #1a1a1a;
}

.shoestock p {
  margin: auto;
}

.link {
  display: flex;
  flex-direction: column;
  background-color: #5f5f64;
  margin: 20px;
  width: 400px;
  height: 590px;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 12px #1a1a1a;
}

.link a {
  text-decoration: none;
  margin: auto;
}
